<h1 class="admin-dash">ADMIN DASHBOARD</h1>
<h1 class="product-available">Products Available:
  <div class="total-count">
    <p>
      <%= @product_count %>
    </p>
    <h1>Total Categories:</h1>
    <p>
      <%= @category_count %>
    </p>
  </div>
</h1>