<!-- Main heading for the admin dashboard -->
<h1 class="admin-dash">ADMIN DASHBOARD</h1>

<!-- Section for displaying product and category information -->
<h1 class="product-available">Products Available:
  <div class="total-count">
    <!-- Display the total number of products -->
    <p>
      <%= @product_count %>
    </p>

    <!-- Subheading for category count -->
    <h1>Total Categories:</h1>

    <!-- Display the total number of categories -->
    <p>
      <%= @category_count %>
    </p>
  </div>
</h1>