// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.field {
  display: flex;
  flex-direction: column;

}

.custom-input{
  width: 23%;
}

input#email{
  width: 23%;
}
input#password {
  width: 23%;
}